/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* resets */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* variables */
:root {
  --site-font: "Roboto", sans-serif;
  --header-bg: #484848;
  --white-color: #fff;
  --black-color: #121212;
  --primary-color: red;
  --secondary-color: #db0000;
}

/* styles */
body {
  font-family: var(--site-font);
  background-color: var(--black-color);
  color: var(--white-color);
  position: relative;
}

body * {
  box-sizing: border-box;
}

body .container {
  margin: 0 auto;
  max-width: 1240px;
  width: calc(100% - 40px);
}

/* header */
header {
  background-color: var(--header-bg);
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 3;
}

header .header--section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header--search {
  display: flex;
  align-items: center;
}

header .header--search .header--search-input {
  padding: 10px 5px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

header .header--search .header--search-icon {
  display: flex;
  align-items: center;
  padding: 11px 15px;
  background-color: var(--primary-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}

header .header--search .header--search-icon:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.header--logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header--logo .logo-img {
  width: 35px;
}

.header--right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header--github-link a {
  color: var(--white-color);
  text-decoration: none;
}

.header--github-link a:hover {
  text-decoration: underline;
}

/* filter */
.genres-filter {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 35px 0;
}

.genres-filter .genres-filter--category {
  background-color: var(--header-bg);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  width: fit-content;
}

.genres-filter .genres-filter--category:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.genres-filter .genres-filter--category p {
  color: var(--white-color);
}

.genres-filter--reset {
  height: 30px;
  cursor: pointer;
}

.genres-filter--reseticon {
  height: 100%;
}

/* movie listing */
.year-heading {
  font-size: 30px;
  font-weight: 500;
  padding: 15px 0;
}

.results-heading,
.genres-heading {
  font-size: 20px;
}

.results-heading span,
.genres-heading span {
  color: var(--primary-color);
  font-weight: 500;
}

.movies-list {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  padding: 30px 0;
}

.movies-list .movies-list--card {
  width: calc(95% / 5);
  position: relative;
  border-radius: 5px;
  border: 2px solid var(--header-bg);
  transition: all 0.3s ease-in;
}

.movies-list .movies-list--card .movies-list--card-figure {
  height: 100%;
  width: 100%;
}

.movies-list .movies-list--card:hover {
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  transition: all 0.3s ease-in;
}

.movies-list
  .movies-list--card:hover
  .movies-list--card-figure
  .movies-list--card-figure-img {
  opacity: 0.3;
  transition: all 0.3s ease-in;
}

.movies-list .movies-list--card:hover .movies-list--card-info .more-info {
  display: block;
  padding-top: 0px;
  transition: all 0.3s ease-in;
}

.movies-list .movies-list--card:hover .movies-list--card-info {
  background: rgba(0, 0, 0, 1);
  /* height: 50%; */
  transition: all 0.3s ease-in;
}

.movies-list .movies-list--card-info {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  height: 25%;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.movies-list--card-info h3 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 37px;
}

.movies-list .movies-list--card-info p {
  margin: 10px 0;
}

.movies-list .movies-list--card .movies-list--card-info .more-info {
  display: none;
  padding-top: 10px;
  margin: 15px 0;
  line-height: 1.2;
}

.movies-list .movies-list--card .movies-list--card-figure-img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

/* load previous movies */
.load-prev {
  text-align: center;
  padding: 15px 0;
}

.load-prev--btn {
  background-color: var(--header-bg);
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  width: fit-content;
  font-size: 16px;
  cursor: pointer;
}

.load-prev--btn:hover {
  background: var(--secondary-color);
}

/* modal window */
.movies-list--modal {
  width: 800px;
  height: 105%;
  position: absolute;
  top: -9px;
  left: 0;
  background: var(--black-color);
  color: var(--white-color);
  z-index: 2;
  display: flex;
  /* gap: 30px; */
  /* padding: 50px; */
  /* box-sizing: border-box; */
  transition: all 0.3s ease-in;
  border-radius: 5px;
  border: 3px solid var(--secondary-color);
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.movies-list--modal.active {
  transform: translateX(30%);
  transition: all 0.3s ease-in;
}

.selected-card {
  z-index: 2;
}

.movies-list--modal-info {
  padding: 15px 20px;
  width: 100%;
}

.movies-list--modal-info .movie-desc,
.movies-list--modal-info .movie-info {
  margin: 15px 0;
  line-height: 1.4;
}

.movies-list--modal-info .movie-desc {
  max-height: 90px;
  overflow: auto;
}

.movies-list--modal-info .movie-tagline {
  margin-top: 5px;
}

.movies-list--modal-info .movie-links {
  display: inline-flex;
  gap: 10px;
}

.movies-list--modal-info .movie-links--imdb {
  width: 45%;
}

.movies-list--modal-info .movie-links--imdb img {
  width: 100%;
}

.movies-list--modal-info .movie-links--home img {
  width: 25px;
}

.movies-list--modal-info .movie-title--links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-list--modal-closeicon {
  width: fit-content;
  float: right;
  display: flex;
  justify-content: end;
  height: 25px;
  padding-left: 15px;
}

/* .movies-list--modal-figure {
  width: 300px;
} */

.movies-list--modal-figure img {
  width: 229px;
}

.movies-list--modal-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}

.movies-list .movies-list--card:nth-child(4) .movies-list--modal.active,
.movies-list .movies-list--card:nth-child(5) .movies-list--modal.active,
.movies-list .movies-list--card:nth-child(9) .movies-list--modal.active,
.movies-list .movies-list--card:nth-child(10) .movies-list--modal.active,
.movies-list .movies-list--card:nth-child(14) .movies-list--modal.active,
.movies-list .movies-list--card:nth-child(15) .movies-list--modal.active,
.movies-list .movies-list--card:nth-child(19) .movies-list--modal.active,
.movies-list .movies-list--card:nth-child(20) .movies-list--modal.active {
  right: 0;
  left: unset;
  transform: translateX(-30%);
}

.movie-genres-wrap {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  padding: 0 5px;
}

.movie-genres-wrap .movie-genres {
  background: var(--header-bg);
  padding: 5px;
  border-radius: 5px;
}

.movie-cast-wrap,
.movie-director-wrap {
  display: inline-flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  gap: 10px;
  margin: 0px !important;
}

.movie-info .movie-casts {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.movie-cast-wrap .movie-casts .movie-cast,
.movie-director-wrap .movie-director {
  width: calc(100% / 3);
}

.movie-cast-wrap span,
.movie-director-wrap span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.movie-cast-wrap .movie-cast--icon,
.movie-director-wrap .movie-cast--icon {
  height: 30px;
}

.movie-cast-wrap .movie-cast--icon img,
.movie-director-wrap .movie-cast--icon img {
  height: 100%;
}

.movie-cast--figure {
  width: 100%;
  height: 80px;
}

.movie-cast--figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.movie-cast--name {
  background: var(--white-color);
  color: var(--black-color);
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 13px;
  padding: 3px 5px;
  font-weight: 600;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.movies-list .selected-card {
  border: 2px solid var(--primary-color);
  border-right: 0px !important;
}

.movies-list .selected-card .movies-list--card-info {
  height: 100%;
  transition: all 0.5s ease-in;
}

.movies-list .selected-card .movies-list--card-info .more-info {
  display: block !important;
  transition: all 0.3s ease-in;
}

.movies-list .selected-card .movies-list--modal.active {
  border-left: 0px;
  transition: all 0.3s ease-in;
  /* top: -2px;
  height: 101%; */
}

.movies-list .selected-card:hover .movies-list--card-info {
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.movies-list .selected-card:hover .movies-list--card-info .more-info {
  margin: 15px 0;
  padding-top: 10px;
  transition: all 0.3s ease-in;
}

.movies-list .selected-card:nth-child(4) .movies-list--modal,
.movies-list .selected-card:nth-child(5) .movies-list--modal,
.movies-list .selected-card:nth-child(9) .movies-list--modal,
.movies-list .selected-card:nth-child(10) .movies-list--modal,
.movies-list .selected-card:nth-child(14) .movies-list--modal,
.movies-list .selected-card:nth-child(15) .movies-list--modal,
.movies-list .selected-card:nth-child(19) .movies-list--modal,
.movies-list .selected-card:nth-child(20) .movies-list--modal {
  border-right: 0px;
  border-left: 3px solid var(--primary-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.movies-list .selected-card:nth-child(4),
.movies-list .selected-card:nth-child(5),
.movies-list .selected-card:nth-child(9),
.movies-list .selected-card:nth-child(10),
.movies-list .selected-card:nth-child(14),
.movies-list .selected-card:nth-child(15),
.movies-list .selected-card:nth-child(19),
.movies-list .selected-card:nth-child(20) {
  border-right: 2px solid var(--secondary-color) !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 0px;
}

.movies-list
  .selected-card:hover
  .movies-list--card-figure
  .movies-list--card-figure-img {
  opacity: 0.8;
}

.bottom-loader {
  height: 500px;
  background-color: transparent;
  text-align: center;
}

.loading-text {
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
}

/* media queries */

/* tablets */

@media screen and (max-width: 1368px) {
  .movies-list .selected-card .movies-list--modal.active {
    width: 550px;
    transform: translateX(40%);
  }

  .movies-list .movies-list--card:nth-child(4) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(5) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(9) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(10) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(14) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(15) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(19) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(20) .movies-list--modal.active {
    transform: translateX(-42%);
  }
}

@media screen and (max-width: 1200px) {
  .movie-genres-wrap {
    bottom: unset;
    margin-top: 5px;
    padding: 0 6px;
    flex-flow: row wrap;
  }

  .movie-genres {
    font-size: 13px;
  }

  .movies-list .selected-card .movies-list--modal.active {
    transform: translateX(0px);
    top: 200px;
    left: -2px;
    width: 500px;
    height: max-content;
    border: 3px solid var(--secondary-color) !important;
  }

  .movies-list--card.selected-card {
    border: 2px solid var(--secondary-color) !important;
  }

  .movies-list .movies-list--card-info {
    height: 35%;
  }

  .movies-list .movies-list--card:nth-child(4) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(5) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(9) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(10) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(14) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(15) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(19) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(20) .movies-list--modal.active {
    transform: translateX(2px);
  }
}

/* mobile */

@media screen and (max-width: 768px) {
  .header--section {
    flex-direction: column;
    gap: 15px;
  }

  .genres-filter {
    flex-flow: row wrap;
    gap: 10px;
  }

  .genres-filter .genres-filter--category {
    padding: 10px;
  }

  .movies-list .movies-list--card {
    width: calc(93% / 3);
  }

  .movies-list .movies-list--card-info {
    height: 70%;
  }

  .year-heading {
    font-size: 24px;
  }

  .movies-list--card.selected-card {
    width: 100%;
    border: 2px solid var(--secondary-color) !important;
  }

  .movies-list .selected-card .movies-list--card-info {
    top: 0;
  }

  .movie-info.movie-genres-wrap {
    bottom: unset;
    margin-top: 10px;
  }

  .movies-list .selected-card .movies-list--modal.active {
    width: 105%;
    height: max-content;
    transform: translateY(0);
    top: 150px;
    left: -7px;
    border: 2px solid var(--secondary-color);
  }

  .movies-list--modal-info {
    display: flex;
    flex-direction: column;
  }

  .movies-list--modal-closeicon {
    width: 100%;
    height: 15px;
  }

  .movie-title--links {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .movie-info.movie-cast-wrap,
  .movie-info.movie-director-wrap {
    width: 100%;
    margin: 15px 0 !important;
  }

  .movies-list .movies-list--card:nth-child(4) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(5) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(9) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(10) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(14) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(15) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(19) .movies-list--modal.active,
  .movies-list .movies-list--card:nth-child(20) .movies-list--modal.active {
    transform: translateY(0);
    left: -7px;
  }

  .loading-text {
    font-size: 16px;
  }
}
